<%- include('../adminLayout/header.ejs') %>

        <main class="main h-75 d-flex align-items-center justify-content-center">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="p-0 m-0"></div>
                <!-- End .container -->
            </nav>
            <!-- End .breadcrumb-nav -->

            <div class="error-content text-center"
                style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
                <div class="">

                    <h1>Oh oh!</h1>
                    <p>Something went wrong. We're sorry, there seems to be an error. Please try again later.</p>

                    <!-- <h1 class="error-title">Error 404</h1>
                    
                    <p>We are sorry, the page you've requested is not available.</p>
                    <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                        <span class="font-weight-bold">BACK TO HOMEPAGE</span>
                        <i class="icon-long-arrow-right"></i>
                    </a> -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .error-content text-center -->
        </main>


        <%- include('../adminLayout/footer.ejs') %>
        