<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ashion Template" />
    <meta name="keywords" content="Ashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>StyleSync | Synced in Style, Tailored for You</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
  <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js">
    
  </script>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
   
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/javascript/" type="text/css"> -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   
  </head>

        <main class="main h-75 d-flex align-items-center justify-content-center">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="p-0 m-0"></div>
                <!-- End .container -->
            </nav>
            <!-- End .breadcrumb-nav -->

            <div class="error-content text-center"
                style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
                <div class="">
                    <h1 class="error-title">Error 404</h1>
                    <!-- End .error-title -->
                    <p>We are sorry, the page you've requested is not available.</p>
                    <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                        <span class="font-weight-bold">BACK TO HOMEPAGE</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
                <!-- End .container -->
            </div>
            <!-- End .error-content text-center -->
        </main>


        <%- include('../partials/footer.ejs') %>
       