<%- include('../partials/header.ejs')%>
<head>
    <style>
        #intro {
          background-image: url('/img/image1.avif');
          height: 100vh;
        }
  </style>
</head>
<main class="main mb-5 d-flex justify-content-center" id="intro">

    <div class="container-md bg-white" style="max-width: 600px; margin: auto; height: auto;">

        <div>
            <% if (typeof errorMessage !== 'undefined' && errorMessage !== null) { %>
                <div id="error-container">
                  <p style="font-size: small; color: red; font-family: 'Tilt Warp', cursive;" class="justify-content-center">
                    <%= errorMessage %>
                  </p>
                </div>
              <% } %>
            <h3 class="text-center mt-5 mb-4 text- font-weight-bold text-danger">FORGOT YOUR PASSWORD !</h3>

            <P class="text-center">Enter your email address and we will send an OTP to reset your password</P>

            <form class="d-flex flex-column align-items-center mt-4" action="/forgotPassword" method="post">
                <label class="font-weight-bold text-center" for="email"> YOUR REGISTERED EMAIL ADDRESS</label>

                <input type="email" class="mt-3" type="text" id="email" name="email" required>

                <button data-id="forgotPasswordBtn" class="btn m-4 py-1 px-4 bg-warning text-white" type="submit">SEND</button>
            </form>

        </div>

    </div>

</main>
<!-- End .main -->
<%- include('../partials/footer.ejs')%>
