
<html>
  <%- include('../partials/header.ejs')%>
<!--Main Navigation-->
  <head>
    <style>
      .he{
	padding: 20px 0 35px 0;
}
      .error-message {
        color: brown;
      }

      #intro {
        background-image: url('/img/image1.avif');
        height: 100vh;
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      .form-outline {
        position: relative;
        margin-bottom: 1.5rem;
      }

      .form-outline input.form-control {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem; 
        line-height: 1.5;
      }

      .form-outline label.form-label {
        position: absolute;
        top: 0.2rem; 
        left: 0;
        transition: all 0.3s;
        pointer-events: none;
        color: #495057; 
      }

      .form-outline input.form-control:focus + label.form-label,
      .form-outline input.form-control:not(:placeholder-shown) + label.form-label {
        top: -1rem;
        font-size: 0.75rem;
      }
    </style>
  </head>
  <body>
   <header> 
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
              <form action="/userLogin" method="POST" class="bg-white  rounded-5 shadow-5-strong p-5">
                <h3 class="fw-bold text-center"> Login</h3>
                <!-- Email input -->
             
<% if (typeof errorMessage !== 'undefined' && errorMessage !== null) { %>
  <div class="error-message m-3">
    <%= errorMessage %>
  </div>

<% } %>

                <div class="form-outline my-4">
                  <input type="email" id="form1Example1" name="email" class="form-control" />
                  <label class="form-label" for="form1Example1">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline my-4">
                  <input type="password" id="form1Example2" name="password" class="form-control" />
                  <label class="form-label" for="form1Example2">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  

                  <div class="col">
                  
                    <a href="/forgotPassword">Forgot password?</a>
                  </div>
                </div>

                <button type="submit" class="btn btn-warning btn-block mb-2">Sign in</button>
                <p class=" text-muted ">Not registered with us? <a href="/userSignup"
                  class="fw-bold text-body">Sign Up </a></p>
                  <p class=" text-muted mt-0 "> Are you an Admin? <a href="/admin/adminLogin"
                    class="fw-bold text-body">Admin Login</a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <!--Main Navigation-->


  <%- include('../partials/footer.ejs')%>
  </body>
  </html>